.heading{
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #FF6551;
}
.viedoText{ 
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
letter-spacing: 0.2px;
color: #252B42;
flex: none;
order: 1;
flex-grow: 0;
}

.paragraph{
   
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;
flex: none;
order: 2;
flex-grow: 0;
}